.App {
  text-align: center;
}

body {
  background-color: #C5D8D1;
}

h1 {
  color: #DB8A74;
  font-family: 'Quicksand', sans-serif;
  font-size: 96px;

  
}

.navbar {
  font-family: 'Quicksand', sans-serif;
  color: #12263A;
}