.App {
  text-align: center;
}

body {
  background-color: #C5D8D1;
}

h1 {
  position: absolute;
  width: 814px;
  height: 163px;
  left: 50px;
  top: 83px;
  margin-left: 0px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 96px;
  line-height: 120px;
  text-align: center;
  
  color: #DB8A74;
  
}

.bio {
  position: absolute;
  width: 389px;
  height: 400px;
  left: 880px;
  top: 350px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  text-align: center;

  color: #12263A;

}

.navbar {

  float: right; 
  margin-right: 30px;
  margin-top: 30px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  text-align: center;

  color: #12263A;

}

.circle-photo {
  position: absolute;
  width: 500px;
  height: 450px;
  left: 214px;
  top: 307px;
  border-radius: 50%;
}

#linkedin-icon {
  position: absolute;
  width: 30px;
  bottom: 10px;
  left: 40px;
}

#dev-icon {
  position: absolute;
  width: 30px;
  bottom: 10px;
  left: 80px;
}
#footer-note {
  position: absolute;
  bottom: 10px;
  right: 50px;
}


