.App {
  text-align: center;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

body {
  background-color: #C5D8D1;
}

h1 {
  position: absolute;
  width: 814px;
  height: 163px;
  left: 50px;
  top: 83px;
  margin-left: 0px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 96px;
  line-height: 120px;
  /* text-align: center; */
  
  color: #DB8A74;
  
}

/* home screen css*/
#circle-headshot {
  position: absolute;
  top: 250px;
  left: 100px;
  height: 600px;
  
  
}

.bio {
  position: absolute;
  width: 389px;
  height: 400px;
  left: 880px;
  top: 350px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  text-align: center;

  color: #12263A;

}

.navbar {

  float: right; 
  margin-right: 30px;
  margin-top: 30px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #12263A;
  
}

.navigation-links {
  padding-left: 30px;
  text-decoration: none;
}



.active {
  color: #8E4162;
  
}

/* footer css */

#linkedin-icon {
  position: absolute;
  width: 30px;
  bottom: 10px;
  left: 40px;
}

#dev-icon {
  position: absolute;
  width: 30px;
  bottom: 10px;
  left: 80px;
}
#footer-note {
  position: absolute;
  bottom: 10px;
  right: 50px;
}

/* about page css */
.about {
  position: absolute;
  top: 300px;
  left: 850px;
  width: 500px;
  font-family: Quicksand;
  font-size:24px;
  color: #12263A;
}

.likes {
  position: absolute;
  top: 400px;
  left: 300px;
  width: 350px;
  font-family: Quicksand;
  color: #12263A;
  font-size: 20px;
}

.dislikes {
  position: absolute;
  top: 500px;
  left: 300px;
  width: 350px;
  font-family: Quicksand;
  color: #12263A;
  font-size: 20px;
}

/* resume page css */

#tech-projects {
  position: absolute;
  top: 275px;
  left: 300px;
  width: 400px;
  height: 400px;
}

/* portfolio css*/

.video-grid {
 
  display: inline-grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr 1fr;

  

}

.video-grid div {
  position: relative;
  top: 270px;
  float: left;
  padding: 10px;
}





